.about {
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;

}

.about-container {
    margin-top: 20px;
    margin-left: 20%;
    background-color: rgb(44, 44, 44);
    min-height: 100vh;
    padding: 20px;
    display: fixed;
    justify-content: center;
}

/* TODO: fix mobile view */
@media only screen and (max-width: 768px) {
    .about-container {
        display: absolute;
        top: initial;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
    }
  }