.hero {
    background: url(../../public/hero.jfif) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: stretch;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    
    overflow-y: hidden;

}

.hero-about {
    align-self: start;
    margin-left: 5%;
    background-color: rgba(127, 255, 212, 0.329);
    height: stretch;

    border: rgb(44, 44, 44);
    border-width: 3px;
    border-style: solid;
    padding: 10px;

    backdrop-filter: saturate(180%) blur(10px);  
    -webkit-backdrop-filter: saturate(180%) blur(20px);

    max-width: min-content;

}

.hero-description {
    margin-left: 5%;
    margin-right: 5%;
    word-wrap: break-word;


}

.scroll-down {
    position: absolute;
    border-radius: 20%;
    
    bottom: 60px;
    padding: 10px 20px;
    font-size: 2rem;
    color: #fff;
    animation: bounce 2s infinite;

    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #00ffbf, 0 0 80px #00ffbf, 0 0 90px #00ffbf, 0 0 100px #00ffbf, 0 0 150px #00ffbf;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scroll-down:hover {
    cursor: pointer;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}